<div class="container">
  <div class="list-group-items d-flex justify-content-between align-items-center">
    <div>
      <h2>Tasks List</h2>
    </div>
    <div>
      <%= link_to 'Add New', new_task_path, class: 'btn btn-sm btn-outline-primary' %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <% if @tasks.present? %>
        <% sorted_tasks = @tasks.sort_by(&:due_date) %>
        <ul class="list-group list-group-numbered">
          <% sorted_tasks.each do |task| %>
            <% task_due_class = task.due_date.present? && task.due_date.to_date == Date.today ? 'text-danger' : '' %>
            <li id="task_<%= task.id %>" class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><%= task.title %></div>
                <%= task.description %>
              </div>
              <% if task_due_class.present? %>
                <span class="badge bg-danger rounded-pill">Due Date: <%= task.due_date.strftime('%Y-%m-%d') if task.due_date %></span>
              <% else %>
                <span class="badge bg-primary rounded-pill">Due Date: <%= task.due_date.strftime('%Y-%m-%d') if task.due_date %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-muted">No records available.</p>
      <% end %>
    </div>
  </div>
  <%= javascript_include_tag 'task_list' %>
</div>

